Do you want to be able to change between landscape and portrait without using auto rotation? This app provides a floating button to do this.

<b>Features</b>
• Toggle screen orientation using a floating button or notification

<b>Known Issues</b>
Because of the way Android works, the app has these problems:
• Doesn't work for some apps that control the screen rotation, such as YouTube or the home screen.
• Uninstalling doesn't reset the screen orientation. You can work around this by first setting the default screen orientation in the app.
• May temporarily stop working when the device is low on RAM. (You might notice the notification temporarily disappear.)

Other known unresolved problems are listed at https://github.com/sampalmer/floating-rotation/issues?q=is%3Aopen+is%3Aissue+label%3Abug.

<b>Permissions</b>
• Display system-level alerts: So the floating button can be shown over other apps
• Run at startup: So this continues working when your device is restarted
• Modify system settings: To change screen orientation and system auto rotation
• Control vibration: For vibration feedback on certain actions
